body {
    font-family: "Lucida Console", Monaco, monospace;
    background-color: black;
    color: rgb(38,228,33);
}

input {
    color: black;
}

.title {
    padding-top: 20px;
}

.message {
    padding-left: 10px;
}

#bottom {
    padding-bottom: 50px;
}